.quantity_input {
  position: relative;
}

.quantity_input:hover .QUT-btn {
  opacity: 1;
}

.QUT-btn {
  transition: opacity 0.3s;
}

.INCREASE_count,
.DECREASE_count {
  display: block;
  width: 20px;
  height: 20px;
}

.INCREASE_count:hover,
.DECREASE_count:hover {
  background-color: #e2e2e2;
}