.Burges{
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}
.burdges:hover img{
    opacity:1;
}
.icons{
    display: flex;
    position: absolute;
    top:40%;
    left: 6%;
    opacity: 0;
    gap: 5px;
    padding-inline: 10px;
    padding-top: 7px;
    /* background-color: white; */
    border-radius: 10px;
    transition: opacity 0.3s ease-in-out;
}
.burdges:hover .icons{
    opacity: 1;
}
.icons a span{
    font-size: 20px;
}
.icons a{
    font-size: 15px;
    /* color: rgb(222, 219, 219); */
}
/* 
.icons a:hover{
    color: rgb(25, 25, 25);
} */
.buttons .btns{
    position: relative;
    opacity: 0;
    background-color: white;  
}
.btns{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.buttons:hover .btns{
    opacity: 1;
}
