.container-1{
    display: flex;
    justify-content: center;
    padding: 20px;
    flex-wrap: wrap;
    width:100%;
}
.categ{
    display: flex;
    justify-content: start;
    width: 100%;
    padding-inline: 70px;
}


@media(max-width:1200px){

}

@media(max-width:992px){
    .container-1{
        width: 100%;
        padding: none;
        justify-content: center;
    }
    .categ{
        justify-content: center;
    }
}

@media(max-width:768px){
    
}

@media(max-width:576px){
    .container-1{
        width: 100%;
        padding: none;
        justify-content: center;
    }
    .categ{
        justify-content: center;
    }
}