.progress-bar-container {
    width: 100%;
    height: 10px;
    background-color: rgb(247, 248, 250);
    border-radius: 4px;
    margin-bottom: 10px;
  }
  
  .progress-bar {
    height: 10px;
    width: 70%;
    background-color: #d51243;
    border-radius: 4px;
    /* transition: width 0.5s ease-in-out; */
  }
 